header {
    width: 100%;
}

h1 {
    float: left;
}

.navbar {
    padding: 10px;
    text-align: right;
  }
  
.navbar a {
    padding: 10px;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.day-card {
    padding: 1rem 1.5 rem;
    border-radius: 8px;
}