header {
    width: 100%;
}

div {
    display: flex;
}

.navbar {
    padding: 10px;
    text-align: right;
}

h1 {
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
    flex-direction: row;
}