header {
    width: 100%;
}

h1 {
    float: left;
}

nav ul {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px
}