header {
    width: 100%;
}

div {
    display: flex;
}

h1 {
    float: left;
    flex: 1;
}

nav ul {
    list-style-type: none;
    flex-direction: row;
    float: right;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}